{% extends 'base_company.html' %}
{% block container %} 

  <main class="container mt-3 pb-5">
    <section class="col-12 col-lg-6 offset-lg-3 mt-5 card">
      <div class="card-body px-3 pb-4">
        <h1 class="h4 pt-2 pb-3">Мое резюме</h1>
        <p class="alert alert-info" role="alert">Ваше резюме обновлено!</p>
        <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}        
          <div class="form-error">{{ form.non_field_errors }}</div>        
          {% for f in form %}
          <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
          <div class="form-error">{{ f.errors }}</div>
          {% endfor %}    
          <button type="submit">Сохранить</button>
        </form>    
      </div>
    </section>
  </main>

  {% endblock %}>